<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daview.mapper.BoardMapper">

 <sql id="search">
  <if test="b_part !=null">
  	and b_part like CONCAT('%',#{b_part},'%')
  </if>
 <if test="searchType != null">
 	<if test="searchType == 't'.toString()">
 		and b_subject like CONCAT('%',#{keyword},'%')
 	</if>
 	<if test="searchType == 'c'.toString()">
 		and b_content like CONCAT('%',#{keyword},'%')
 	</if>
 	<if test="searchType == 'tc'.toString()">
 		and (b_subject like CONCAT('%',#{keyword},'%') OR b_content like CONCAT('%',#{keyword},'%'))
 	</if>
 	<if test="searchType == 'w'.toString()">
 		and m_nick like CONCAT('%',#{keyword},'%')
 	</if>
 </if>
 </sql>
 
 <select id="listSearch" resultType="com.daview.dto.BoardDto">
 select b_num,b_subject,b_content,b_rc,b_reg_date,b_part,m_nick,b_star,b_c_total,b_notice 
 from board 
  where b_flag=0 
 	<include refid="search"></include>  
 order by b_num desc 
 limit #{pageStart}, #{perPageNum}
 </select>
 
 <select id="listSearchCount" resultType="int">
 select count(b_num) from board where b_flag=0
 	<include refid="search"></include>
 </select>
 
 
 
 
 
 <insert id="createBoard">
 insert into board (b_subject,b_content,b_part,m_nick,b_star) 
 values(#{b_subject},#{b_content},#{b_part},#{m_nick},#{b_star})
 </insert>
 
 <select id="getBoardView" resultType="com.daview.dto.BoardDto">
 select *
 from board where b_num=#{b_num} and b_flag=0;
 </select>

 <update id="updateBoard">
 update board set b_subject = #{b_subject}, b_content = #{b_content}, b_part= #{b_part}, b_star = #{b_star}
  where b_num= #{b_num}
 </update>
 
 <update id="deleteBoard">
 update board set b_flag=1 where b_num = #{b_num}
 </update>
 
 
 
 
 
 
 
 
 
 
</mapper>